*{
	box-sizing: border-box;

}
body,html{
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-family: "helvatica";

}
p,.text_1 li i{
	color:#4c5462;;
}
/* =====================================
1. navbar start
===================================== */

.navbar{
	border-bottom: 3px solid rgb(178, 148, 204);
}

a.col:focus, a.col:hover{
	text-decoration: underline;
	color: rgb(178, 148, 204)!important;
	transition: all 0.3s ease 0s;
	
}
.btn {
    background: #428BCA;
    transition: all 0.3s ease 0s;
}
/* =====================================
2. Jumbtron start
===================================== */

.picture{
	background:url(../image/image_1.jpeg) center center no-repeat;
	background-size: cover;
	position: relative;
	top:0;
	background-attachment: fixed;
	height: 100%;
}

#wraper{
	position: relative;
	margin-top: 5%;
	height:600px;
}
.element{
	display: inline-
	block;
	margin-top: 100px;
}
#scroll_1{
	position: absolute;
	top:35%;
	left:45%;
}
 .board{
	position:absolute;
	top:80%;
	left:0;
	right:0;
	background-color: rgba(178, 148, 204,0.8);
	width: 50%;
	height:200px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
    position: absolute;
    bottom: 0;
}
.board input{
	display: inline;
	margin-bottom: 10px; 
}
/* =====================================
3. start of facilites
===================================== */

#facilites{
	position: relative;
	}
.picFacilities{
	background:url(../image/image_11.jpeg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
		}

.scope{
	color: rgb(178, 148, 204);
	background-color: rgb(66, 244, 146);
}
.sea{
	width:100%;
	padding: 1%;
}
/*end of facilites*/
/* =====================================
4. start of room
===================================== */

ul.comfort li{
	display: inline-block;
	padding-right: 1%;
}
.container {
  position: relative;
  width: 50%;
  background-color: white;
}

.ima {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 10%;
  /*bottom: 10%;*/
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;
  opacity: 0;
  transition: .6s ease-in-out;
  background-color: rgba(0,0,0,0.6);
  }

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 45%;
  text-align: justify;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
 
.folder{
	
	padding:5% 0 5% 0;
	
}

#slick{
	background-color: #e6e6e6;
}
#port{
	background-color:#d6addd;
}
.portfolio,.certify,.credit{
	margin-top:3.5%;
	}
.certify{
	
	padding-top: 2%;
	margin: 0 auto;
}

.portfolio h1{
	padding-top: 200px;
}
.thumbnail.pic{
	width: 300px;
	height: auto;
	position: relative;
}
.section-heading h1{
	color:#d125ae!important;
	text-transform: uppercase;
	padding: 0 0 1% 0;
}
.section-heading.project h1{
	padding-top:5rem;

}
ul.text li {
	list-style: none;
	text-align: center;
}

.sub{
	margin-top: 2%;
	color:purple!important;
	font-size: 1.4rem!important;
	text-align: center;
	text-decoration: underline;
	
}
.text i.fa{
	color: white;
}
/* =====================================
5. start of attractions
===================================== */

#attract{
	background-color: #d9d9d9;
}
.image-container{
background-color:rgb(231, 222, 232);
  padding:2%;
}

.image-container img{
  opacity: 0.7;
  width: 100%;
  transition: .5s transform,
              .5s opacity;
}

.image-container img:hover{
  opacity: 1;
  transform: scale(1.03);
}
/*end of attractions*/
/* =====================================
6. footer
===================================== */

#end{
	background-color:rgb(195, 182, 196)!important;
	}
.aboutMe ul{
	list-style: none;
	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.aboutMe ul li{
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 50%;
  background: white;
  list-style: none;
  line-height: 30px;
   width: 30px;
  height: 30px;
  margin-right: 20px;
 }

.aboutMe p{
	margin-top: 1%;
}
.aboutMe li:hover{
	background: orange;
}
#end h3{
	color:rgb(148, 45, 155);
}
.text_1  li{
	list-style: none;
}
.text_1  li i.fa{
	color:rgb(148, 45, 155);
}
/*scroll*/
#scroll_1 i.fa,#scroll i.fa{
	
	color:rgb(110, 45, 168);
	
	}
#scroll i.fa{
	margin-left: 20rem;
}
.cener{
	margin: 0 auto;
}
/* =====================================
7. Media query
===================================== */

@media only screen and (max-width: 480px){
	body,html{
		font-size:16px;
		background-color: rgba(0, 0, 0, 0.9);
		}
	#wraper
	{
	margin-top: 10%;
	height:450px;
		}
	.board {
		top:65%;
		width:50%;
	}
#scroll_1{
	left:40%;
}
	.picture{
		width:100%;
			}
	.thumbnail.pic,.board{
	width: 100%;
	}
.scope,.picFacilities,.facilites{
	width: 100%;
	overflow: hidden;
	}

.scope{
	top:10%;
}
.element,.pic h5{

	color: orange;
	font-size: 2rem;
	 
		}
	h1{
		font-size:  1.5rem;
		color: purple;
	}
	.sub{
		font-size:  1rem!important;
		color: blue!important;
	}
	
}
@media only screen and (min-width: 481px) and (max-width: 768px){
	body,html{
		font-size:18px;
		background-color: rgb(66, 134, 244);
	}
	#wraper
	{
	margin-top: 5%;
	height:420px;
		}
	.board {
		/*top:60%;*/
		width:50%;
	}
	.picture
	{
	width:100%;
			}
.scope,.picFacilities,.facilites{
	width: 100%;
	overflow: hidden;
	}
.element,.pic h5{sc
	color: blue;
	font-size: 2rem;
	}
	h1{
		font-size:  1.5rem;
		color: black;
	}
	.sub{
		font-size:  1rem!important;
		color: purple!important;
	}
	.thumbnail.pic,.cer-content{
		width: 100%;
	}
}


